<app-store-intro></app-store-intro>

<div class="filter-bar">
    <div class="filter-by-type">
        <p class="type">Filter by type</p>
        <mat-checkbox class="example-margin type-checkbox">Checkbox 1</mat-checkbox>
        <mat-checkbox class="example-margin type-checkbox">Checkbox 2</mat-checkbox>
        <mat-checkbox class="example-margin type-checkbox">Checkbox 3</mat-checkbox>
        <mat-checkbox class="example-margin type-checkbox">Checkbox 4</mat-checkbox>
        <mat-checkbox class="example-margin type-checkbox">Checkbox 5</mat-checkbox>
        <mat-checkbox class="example-margin type-checkbox">Checkbox 6</mat-checkbox>
    </div>
    <div class="sort-by">
        <p class="sort">Search by name</p>
        <input name="searchTerm" #searchInput="ngModel" ngModel (ngModelChange)="searchPackagesByName(searchInput.value)" type="search" placeholder="Search by name">
    
        <p class="sort">Search by creator</p>
        <input name="searchTerm" #searchInput1="ngModel" ngModel (ngModelChange)="searchPackagesByCreator(searchInput1.value)" type="search" placeholder="Search by creator">
    </div>
</div>

<div class="packagesContainer">
    <table *ngFor="let package of packages">
        <app-package [id] = "package.id" [title]="package.title" [intro]="package.intro"></app-package>
    </table>
    <!-- <app-package ></app-package>
    <app-package></app-package>
    <app-package></app-package>
    <app-package></app-package>
    <app-package></app-package>
    <app-package></app-package>
    <app-package></app-package>
    <app-package></app-package>
    <app-package></app-package> -->




</div>