<div class="testbox">
    <form action="/">
        <div class="banner">
            <h1>Add New Package</h1>
        </div>
        <h2>Package Details</h2>
        <div class="item">
            <label for="name">Name of the package<span>*</span></label>
            <div class="item">
                <input id="name" type="text" name="name" placeholder="Please enter the name of the package" required />
            </div>
        </div>
        <!-- <div class="item">
            <label for="bdate">Description<span>*</span></label>
            <div class="name-item">
                <textarea name="bdate" rows="8" cols="80"></textarea>
            </div>
        </div> -->
        <div class="item">
            <label for="name">Intro Text<span>*</span></label>
            <div class="item">
                <input id="name" type="text" name="name" placeholder="Please enter the intro text of the package"
                    required />
            </div>
        </div>
        <h2>Version Details</h2>
        <div class="item">
            <label for="name">Name<span>*</span></label>
            <div class="item">
                <input id="name" type="text" name="name" placeholder="Please the name of the version" />
            </div>
        </div>
        <div class="item">
            <label for="bdate">README Content<span>*</span></label>
            <div class="item">
                <input id="name" type="text" name="name" placeholder="Please the README content" />
            </div>
        </div>
        <div class="item">
            <label for="name">Download Link<span>*</span></label>
            <div class="item">
                <input id="name" type="text" name="name" placeholder="Please the download link for the package" />
            </div>
        </div>
        <h2>System requirements</h2>
        <div class="item">
            <label for="name">Processor Type<span>*</span></label>
            <div class="item">
                <input id="name" type="text" name="name" placeholder="Please enter the processor type" />
            </div>
        </div>
        <div class="item">
            <label for="name">RAM<span>*</span></label>
            <div class="item">
                <input id="name" type="text" name="name" placeholder="Please enter the RAM" />
            </div>
        </div>
        <div class="item">
            <label for="name">Graphics Card<span>*</span></label>
            <div class="item">
                <input id="name" type="text" name="name" placeholder="Please enter the graphics card" />
            </div>
        </div>
        <div class="btn-block">
            <button type="submit" href="/">Add The Package</button>
        </div>
    </form>
</div>