<h1>Website Guide</h1>
<mat-horizontal-stepper linear>
    <mat-step label="Store">
        <h2>Explore the store with all it's features!</h2>
        <h3>Expolore packages, download them and use them. If you really like the package, you can
            always add it to your favourite package list.
        </h3>
        <img src="../../assets/images/fav_button.png" alt="">
        <h3>Before downloading the package read about it in the overview of the package. You should always
            check the system requirements before downloading to see if you have a good enough computer to
            use the package.
        </h3>
        <img src="../../assets/images/overview-sys-req.png" alt="">
        <h3>Don't like the package? Or maybe you really like it! Both are great for feedback, so use the review option
            to leave your opinion on every package you download. It gives other users a better view if the package is
            worth downloading
        </h3>
        <img width="1000px" height="270px" src="../../assets/images/rating.png" alt="">
        <h3>
            Don't like the new update of the package? Or maybe you want to switch to a newer version? Both is possible
            with
            the table of versions each package with more than 1 version has.
        </h3>
        <button class="next" mat-raised-button color="primary" matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Content Creator">
        <h2>Have a product ready to deploy? Add it to our store!</h2>
        <h3>To become a content creator just go to your profile page and request it. After that you will be able
            to upload packages and get the money from each purchase.
        </h3>
        <img src="../../assets/images/con_cre_button.png" alt="">
        <h3>Every content creator has authorization to manage his/her packages in the manage packages route. Here you
            can
            add, update and delete his/her own packages.
        </h3>
        <img src="../../assets/images/navbar.JPG" alt="">
        <h3>Don't like the package? Or maybe you really like it! Both are great for feedback, so use the review option
            to leave your opinion on every package you download. It gives other users a better view if the package is
            worth downloading
        </h3>
        <img width="1000px" height="270px" src="../../assets/images/rating.png" alt="">
        <h3>
            Don't like the new update of the package? Or maybe you want to switch to a newer version? Both is possible
            with
            the table of versions each package with more than 1 version has.
        </h3>
        <button class="back" mat-raised-button color="primary" mat-button matStepperPrevious>Back</button>
        <button class="next" mat-raised-button color="primary" mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Step 3">
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus erat purus, eu aliquam ante
            pellentesque vel. Donec a turpis vehicula, dapibus mi a, pretium erat. Duis ultricies justo id tellus
            volutpat, ut scelerisque velit sagittis. Quisque facilisis risus ante, sed malesuada eros tristique et.
            Aenean tempus, ipsum vitae porta lacinia, sapien nunc vehicula ante, ac posuere ligula nulla sit amet nisl.
            Nulla consequat augue non ante sodales pulvinar. Quisque posuere semper nunc ac consequat. Nunc vitae est
            nec dui maximus congue. Integer non lorem ac ex tristique consequat. Sed hendrerit gravida lacinia. Praesent
            aliquet eros hendrerit, mattis neque eleifend, dictum sapien. Quisque ultricies nisl massa, at rutrum lorem
            volutpat quis.

            Duis non sagittis erat, vel dictum nisl. Vivamus et rutrum arcu, sit amet aliquet elit. Donec sit amet purus
            ut nunc finibus porta. Mauris convallis magna in est varius auctor. Cras fermentum felis est, in varius
            ipsum hendrerit ac. Vestibulum ornare erat vitae semper finibus. Suspendisse tristique vestibulum libero,
            venenatis tristique dolor. Ut sit amet magna ut est facilisis suscipit. Ut eleifend dolor sed consectetur
            elementum. Morbi eu est tellus. Nam rhoncus purus vel mauris cursus, ut elementum justo blandit. Quisque
            aliquet venenatis leo, et mattis neque accumsan nec. Nunc posuere nisi dolor, ut volutpat mauris vulputate
            sit amet. Nam mollis ante id pharetra tincidunt. Vivamus iaculis lobortis consectetur. Vivamus nisl felis,
            lacinia sit amet semper vel, aliquam quis enim.</h3>
        <button class="back" mat-raised-button color="primary" mat-button matStepperPrevious>Back</button>
    </mat-step>
</mat-horizontal-stepper>