<div class="wrapper">
    <div class="left">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Crystal_Clear_kdm_user_female.svg" alt="user"
            width="100">
        <h4>Alexa William</h4>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                <div class="data">
                    <h4>New Password</h4>
                    <input type="password" placeholder="Type new password...">
                </div>
                <div class="data">
                    <h4>Confirm New Password</h4>
                    <input type="password" placeholder="Repeat new password...">
                </div>
               
            </div>
        </div>

        <div class="social_media">
            <ul>
                <a mat-raised-button href="" target="_blank">Reset Password</a>
            </ul>
        </div>
    </div>
</div>