<div class="filter-bar">
    <div class="filter-by-type">
        <p class="type">Filter by type</p>
        <input type="checkbox" class="type-checkbox">
        <label for="name-checkbox">Checkbox 1</label>
        <input type="checkbox" class="type-checkbox">
        <label for="name-checkbox">Checkbox 2</label>
        <input type="checkbox" class="type-checkbox">
        <label for="name-checkbox">Checkbox 3</label>
        <input type="checkbox" class="type-checkbox">
        <label for="name-checkbox">Checkbox 4</label>
        <input type="checkbox" class="type-checkbox">
        <label for="name-checkbox">Checkbox 5</label>
        <input type="checkbox" class="type-checkbox">
        <label for="name-checkbox">Checkbox 6</label>
    </div>
    <div class="sort-by">
        <p class="sort">Sort by</p>
        <select class="sort-by-combobox">
            <option class="sort-option">Price</option>
            <option class="sort-option">Number of downloads</option>
            <option class="sort-option">Option 3</option>
            <option class="sort-option">Option 4</option>
            <option class="sort-option">Option 5</option>
        </select>
        <button class="sort-button">Sort</button>
    </div>
</div>

<div class="packagesContainer">
    <app-package></app-package>
    <app-package></app-package>
    <app-package></app-package>
    <app-package></app-package>
    <app-package></app-package>
    <app-package></app-package>
    <app-package></app-package>
    <app-package></app-package>
    <app-package></app-package>
</div>